{% extends template_path('base') %}

{% block title %}{{ 'Edit Book' if book else 'Add Book' }} - Flask Books List{% endblock %}

{% block content %}
<div class="card shadow p-3 mb-4">
    <h2 class="mb-3">{{ 'Edit Book' if book else 'Add Book' }}</h2>

    <form method="post">
        <div class="field mb-2">
            <label class="label is-small">Title</label>
            <div class="control">
                <input class="input is-small" type="text" name="title" value="{{ book.title if book else '' }}">
            </div>
        </div>

        <div class="field mb-2">
            <label class="label is-small">Hepburn</label>
            <div class="control">
                <input class="input is-small" type="text" name="hepburn" value="{{ book.hepburn if book else '' }}">
            </div>
        </div>

        <div class="field mb-2">
            <label class="label is-small">Author</label>
            <div class="control">
                <input class="input is-small" type="text" name="author" value="{{ book.author if book else '' }}">
            </div>
        </div>

        <div class="field mb-2">
            <label class="label is-small">Published Date</label>
            <div class="control">
                <input class="input is-small" type="date" name="published_date" value="{{ book.published_date if book else '' }}">
            </div>
        </div>

        <div class="field mb-2">
            <label class="label is-small">Release</label>
            <div class="control">
                <input class="input is-small" type="text" name="release" value="{{ book.release if book else '' }}">
            </div>
        </div>

        <div class="field mb-2">
            <label class="label is-small">URL</label>
            <div class="control">
                <input class="input is-small" type="text" name="url" value="{{ book.url if book else '' }}">
            </div>
        </div>

        <div class="field mb-2">
            <label class="label is-small">Summary</label>
            <div class="control">
                <textarea class="textarea is-small" name="summary">{{ book.summary if book else '' }}</textarea>
            </div>
        </div>

        <div class="field mb-3">
            <label class="label is-small">Category</label>
            <div class="control">
                <div class="select is-small">
                    <select name="category_id">
                        <option value="">-- Select Category --</option>
                        {% for c in categories %}
                        <option value="{{ c.id }}" {% if book and book.category_id == c.id %}selected{% endif %}>{{ c.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button type="submit" class="button is-primary compact">Save</button>
            </div>
            <div class="control">
                <a href="{{ url_for('index') }}" class="button is-secondary compact">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
